.main-box{
    

  
   width:550px;
   margin: 0 auto;
   padding: 30px;
    margin-top: 150px;
    text-align: center;
    background-color: rgba(255,255,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(248, 245, 245, 0.7);
   
   
}
body{
   background:linear-gradient(135deg,#243b55);
   min-width: 100vh;
   
}
.heading{
  
   font-size: 55px;
   margin-top:0px;
 
   font-weight: bold;
  
}

button{
    
    border: 2px solid black;
   
    cursor: pointer;
    background:linear-gradient(90deg,#abd14b,#4a00e0);
    margin-top: 6px;
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 25px;
    
    color: white;
    
    
}
button:hover{
    transform: translate(3px);
    background:linear-gradient(90deg,#792a64,#efb237); ;
}

.roll{
    animation: rolldice 0.8s ease;
}

@keyframes rolldice{
   0% {
    transform: rotate(deg);

    }

    50%{
        transform: rotate(180deg) scale(1.2);
    }
    100%{
        transform: rotate(360deg);
    }
}